* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 10%;
    height: 10%;
}

.header-pai {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

nav li {
    display: inline;
    padding: 30px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

#banner-topo {
    width: 100%;
    background-color: black;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

body {
    background-color: black;
}

.texto {
    background-color: #cccccc;
    font-size: 35px;
    text-align: center;
}

.servico {

    display: flex;
    width: 100vw;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.item-sevico {
    display: flex;
    width: 15%;
    height: 290px;
    border: 1px solid white;

}